* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	padding: 0;
	color: #333;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
:focus, :active {
	outline: 0;
}
a:link, a:visited {
	color: #428bca;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2a6496;
	text-decoration: underline;
}
.clear:after {
	content: " ";
	display: block;
	clear: both;
}
.hide { display: none !important; }
.pull-left { float: left; }
.pull-right { float: right; }
.text-center { text-align: center; }
.bold { font-weight: bold; }
.img-fluid {
	max-width: 100%;
	height: auto;
}
.wrap {}
.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 990px;
}
.container {
	padding: 4em 0;
}
.span3 {
	width: 33.333333%
}
.wrap-header {
	min-height: 600px;
	background: url("../img/background/header1.jpg") no-repeat fixed top center;
}
.wrap-header h1 {
	color: #fff;
	margin: 0;
	padding: 1em 0;
	font-size: 5.3em;
	font-weight: normal;
	text-align: center;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
}
.wrap-about {
	color: #f9f9f9;
	font-size: 1.6em;
	text-align: center;
	background: #1B232C;
}
.wrap-about p {
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}
.wrap-services {}
.wrap-services .sv img {
	max-width: 120px;
}
.wrap-project {
    min-height: 500px;
    background: url("../img/background/project.jpg") no-repeat center center;
    background-size: cover;
}
.wrap-mobile {}
.wrap-footer {}
.wrap-footer .content {
	padding-top: 1.4em;
	border-top: 1px solid #ccc;
}
.wrap-footer .social ul {
	float: left;
	padding: 0;
	display: block;
	list-style: none;
	margin: 0 10% 0 0;
}
.wrap-footer .social ul li {
	padding: 4px 0;
}
.left-menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
}
.left-menu {
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	width: 280px;
	background: rgba(45, 56, 66, 1);
    transition: all .2s;
}
.left-menu ul {
    list-style: none;
    display: block;
    padding: 0;
}
.left-menu li {
    display: block;
}
.left-menu li a {
    color: #fff;
    display: block;
    padding: 10px 10px 10px 24px;
    text-decoration: none;
}
.left-menu li:hover a {
    background: rgb(67, 80, 90);
}
.active-left-menu {
    left: 0;
}
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    transition: all .2s;
}
@media all and (max-width: 990px) {
    .content {
        padding: 0 .6em;
    }
    .topmenu li {
    	display: block;
    	padding: 1em 0;
    }
}
@media all and (max-width: 678px) {
    .sv {
        padding: 0 0 3em 0;
    }
    .span3 {
        width: 100%;
    }
}