@charset "UTF-8";

* {
	color: #333;
	margin: 0;
	padding: 0;
	outline: none;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
:focus, :active {
	outline: none;
}
a:link, a:visited {
	color: #428bca;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2a6496;
	text-decoration: underline;
}
strong, b {
	font-weight: bold;
}
i {
	font-style: italic;
}
table {
	border-spacing: 0;
	border-collapse: collapse;	
}
img {
	vertical-align: middle;
}
hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #ccc;
}
article, aside, details, figcaption,
figure, header, hgroup, nav, footer,
section, summary {
	display: block;
}
input, button,
select, textarea {
	font: inherit;
}
body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
}

/* FIM DO CSS RESET */

.hide { display: none !important; }
.show { display: block !important; }
.invisible { visibility: hidden !important; }
.visible { visibility: visible !important; }
.clear { clear: both; }
.font-italic { font-style: italic; }
.font-bold { font-weight: bold; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-nowrap { white-space: nowrap; }
.text-lower { text-transform: lowercase; }
.text-upper { text-transform: uppercase; }
.float-none { float: none; }
.float-left { float: left; }
.float-right { float: right; }
.circle { border-radius: 50%; }
.bt {
	display: inline-block;
	color: #333 !important;
	height: 28px;
	cursor: pointer;
	padding: 0 8px;
	line-height: 26px;
	vertical-align: middle;
	background: none;
	border: 1px solid transparent;
	border-radius: 3px;
}
.bt-default {
	background-image: -webkit-linear-gradient(bottom, #e6e6e6, #f3f3f3);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #f3f3f3);
	background-image: linear-gradient(bottom, #e6e6e6, #f3f3f3);
	border: 1px solid #c3c3c3;
}
.bt-default:hover {
	border: 1px solid #b4b4b4;
}
.bt-default:focus {
	box-shadow: inset 0 0 3px #ccc;
}
.tf {
	display: inline;
	color: #333 !important;
	height: 28px;
	padding: 0 8px;
	background-color: #fff;
	border: 1px solid transparent;
}
.tf-default {
	background-color: #fff;
	border: 1px solid #ccc;
}
.tf-default:focus {
	border: 1px solid #0099ff;
}
textarea.tf {
	padding-top: 4px;
}
.responsive {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* FIM DOS PADRÕES DE ESTILO */

.content {
	margin: 0 auto;
	width: 990px;
	height: auto;
}

/* CABEÇALHO */

.wrap-header {
	height: 370px;
	background: transparent url("../img/bg-header.png") no-repeat top center;
}

.wrap-header .navbar {
	margin: 20px 0 0 0;
}

.wrap-header .navbar .menu {
	list-style: none;
	text-align: center;
}

.wrap-header .navbar .menu li {
	display: inline-block;
}

.wrap-header .navbar .menu li a {
	display: block;
	color: #fff;
	padding: 10px 30px;
}

.wrap-header .content h1 {
	color: #fff;
	font-size: 44px;
	padding: 40px 0 0 0;
}

/* CORPO */

.wrap-content {
	padding: 40px 0 0 0;
}

.wrap-content .services .item {
	display: inline-block;
	width: 33%;
	height: 300px;
	padding: 0 20px;
}

.wrap-content .services .item img {
	display: block;
	width: 200px;
	margin: 0 auto;
	border: 5px solid #bbb;
}

.wrap-content .services .item h2 {
	padding: 10px 0 0 0;
	font-size: 16px;
}

.wrap-content .services .item p {
	padding: 20px 0 0 0;
	font-size: 14px;
}

.wrap-footer {
	height: 90px;
	padding: 20px 0 0 0;
}